@import "../../vars.css";

body {
  margin: 0; 
  padding: 0; 
  background-color: var(--color-text); 
  font-family: var(--font-open-sans); 
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto-slab);
  background-color: var(--color-secondary);
  /* background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  ); */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 30px;
  font-family: var(--font-open-sans);
  margin-bottom: 52px;
}


.heroImg {
    width: 30%;
    height: auto;
    border-radius: 50% 50% 0 0;
    border: 5px solid var(--color-secondary);
    position: relative; 
    left: 30px; 
    top: 50px; 
}






@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}