@import "../../vars.css";

.navbar {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  padding: 20px 10%; 
  z-index: 2; 
  background-color: var(--color-dark);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.logo {
  height: 80px;
  width: auto;
  max-width: 100%;
}


.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
  font-family: var(--font-roboto-slab);
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: 80px;
  }

  .logo {
    height: 100px; /* Increase logo height */
    width: auto;
    position: relative; /* Allow positioning adjustments */
    top: -25px; /* Move the logo upwards by 20px */
    left: -10px;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}